<br><br>
<div class="slider ">
  <ul class="slides">
    <li>
      <img src="../../../assets/img/27971681_157284251746029_8444345825992022352_n.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3 class="red-text">الحيز</h3>
        <h5 class="light black-text text-lighten-3">تاريخ اليوم {{date |  date: 'dd/MM/yyyy'}}</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/27544836_1997296603860827_7615789557270337745_n.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3> مفيش احسن من الحيز</h3>
        <h5 class="light grey-text text-lighten-3">تاريخ اليوم {{date |  date: "dd/MM/yyyy"}}</h5>
      </div>
    </li>

  </ul>
</div>
