<nav class=" nav light-blue lighten-2" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="right brand-logo">الحيز</a>
    <ul class="left hide-on-med-and-down">
      <li>
        <a class="dropdown-trigger" data-target="dropdown1">القاعات
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
    <ul id="dropdown1" class="text-right dropdown-content">
      <li>
        <a class="text-right" routerLink="/addHall">إضافة قاعة</a>
      </li>
      <li class="divider"></li>
      <li>
        <a routerLink="/hall">القاعات</a>
      </li>
    </ul>

    <ul class="left hide-on-med-and-down">
      <li>
        <a class="dropdown-trigger" data-target="dropdown2">العملاء
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
    <ul id="dropdown2" class="text-right dropdown-content">
      <li>
        <a routerLink="/addcustomer">إضافة عميل</a>
      </li>
      <li class="divider"></li>
      <li>
        <a routerLink="/customer">العملاء</a>
      </li>
    </ul>

    <ul class="left hide-on-med-and-down">
      <li>
        <a class="dropdown-trigger" data-target="dropdown3">الحجوزات
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
    <ul id="dropdown3" class="text-right dropdown-content">
      <li>
        <a routerLink="/addreserv">إضافة حجز</a>
      </li>
      <li class="divider"></li>
      <li>
        <a routerLink="/reserv">الحجوزات</a>
      </li>
    </ul>

    <ul class="left hide-on-med-and-down">
      <li>
        <a class="dropdown-trigger" data-target="dropdown4">الأصناف
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
    <ul id="dropdown4" class="text-right dropdown-content">
      <li>
        <a routerLink="/additem">إضافة صنف</a>
      </li>
      <li class="divider">.265</li>
      <li>
        <a routerLink="/items">الأصناف</a>
      </li>
    </ul>


    <ul id="nav-mobile" class="sidenav">
      <li>
        <a routerLink="/addHall">إضافة قاعة</a>
      </li>
      <li>
        <a routerLink="/halls">القاعات</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a routerLink="/additem">إضافة صنف</a>
      </li>
      <li>
        <a routerLink="/items">الأصناف</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a routerLink="/addcustomer">إضافة عميل</a>
      </li>
      <li>
        <a routerLink="/customer">العملاء</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a routerLink="/addreserv">إضافة حجز</a>
      </li>
      <li>
        <a routerLink="/reserv">الحجوزات</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>
